.tabs {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 20px;
}

.tabs .tab-registers {
  display: flex;
  background-color: RGB(255, 255, 255);
}


.tabs button {
  padding: 0.5em;
  background-color: RGB(255, 255, 255);
  border: none;
  font: inherit;
}

.tabs .tab-registers button:hover {
  cursor: pointer;
}

.tabs .tab-bodies {
  padding: 0.5em;
  background-color: RGB(235, 235, 235);
  flex-grow: 1;
  overflow-y: auto;
}

.tabs button.active-tab {
  background-color: rgb(235, 235, 235);
}

.VerticalBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Horizontalbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {

}

.smallInput {
  width: 40px;
}
